<!-- Start::app-sidebar -->
<aside
  class="app-sidebar"
  id="sidebar"
  [ngClass]="{ 'sticky-pin': scrolled }"
>
  <!-- Start::main-sidebar-header -->
  <div class="main-sidebar-header">
    <a [routerLink]="['/dashboards/sales']" class="header-logo">
      <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
      <img src="./assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
      <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
      <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
      <img src="./assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
      <img src="./assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
    </a>
  </div>
  <!-- End::main-sidebar-header -->

  <!-- Start::main-sidebar -->
  <overlay-scrollbars [defer] class="main-sidebar" id="sidebar-scroll">
    <!-- Start::nav -->
    <nav class="main-menu-container nav nav-pills flex-column sub-open">
      <div class="slide-left" id="slide-left" (click)="leftArrowFn()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
        </svg>
      </div>

      <ul class="main-menu" [ngStyle]="{ display: 'block' }">
        @for (menuItem of menuItems; track menuItem) {
        <li
          class="slide"
          [ngClass]="{
            slide__category: menuItem.headTitle,
            'slide has-sub': menuItem.title,
            open: menuItem.active,
            active: menuItem.selected
          }"
        >

          <!-- HEAD TITLE -->
          @if (menuItem.headTitle) {
            <span class="category-name">
              {{ i18n.translate(menuItem.headTitle || '') }}
            </span>
          }

          <!-- LINK -->
          @if (menuItem.type === 'link') {
            <a
              class="side-menu__item"
              [routerLink]="[menuItem.path]"
              routerLinkActive="active"
              (click)="setNavActive($event, menuItem.path ?? '')"
            >
              @if (menuItem.icon) {
                <span class="iconclick" [appSvgReplace]="menuItem.icon"></span>
              }
              <span class="side-menu__label">
                {{ i18n.translate(menuItem.title || '') }}
              </span>
            </a>
          }

          <!-- SUB MENU -->
          @if (menuItem.type === 'sub') {
            <a
              class="side-menu__item"
              href="javascript:void(0)"
              [ngClass]="{ active: menuItem.selected }"
              (click)="toggleNavActive($event, menuItem)"
            >
              @if (menuItem.icon) {
                <span class="iconclick" [appSvgReplace]="menuItem.icon"></span>
              }
              <span class="side-menu__label">
                {{ i18n.translate(menuItem.title || '') }}
              </span>
              <i class="ri-arrow-down-s-line side-menu__angle"></i>
            </a>
          }

          <!-- CHILDREN -->
          @if (menuItem.children) {
          <ul
            class="slide-menu child1"
            [ngStyle]="{ display: menuItem.active ? 'block' : 'none' }"
          >
            @for (childrenItem of menuItem.children; track childrenItem) {
            <li class="slide" [ngClass]="{ active: childrenItem.selected }">

              <!-- CHILD LINK -->
              @if (childrenItem.type === 'link') {
                <a
                  class="side-menu__item"
                  [routerLink]="[childrenItem.path]"
                  routerLinkActive="active"
                  (click)="setNavActive($event, childrenItem.path ?? '')"
                >
                  {{ i18n.translate(childrenItem.title || '') }}
                </a>
              }

              <!-- CHILD SUB -->
              @if (childrenItem.type === 'sub') {
                <a
                  class="side-menu__item"
                  href="javascript:void(0)"
                  (click)="toggleNavActive($event, childrenItem)"
                >
                  {{ i18n.translate(childrenItem.title || '') }}
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
              }

              <!-- 3RD LEVEL -->
              @if (childrenItem.children) {
              <ul
                class="slide-menu child2"
                [ngStyle]="{ display: childrenItem.active ? 'block' : 'none' }"
              >
                @for (childrenSubItem of childrenItem.children; track childrenSubItem) {
                <li class="slide">

                  <a
                    class="side-menu__item"
                    [routerLink]="[childrenSubItem.path]"
                    routerLinkActive="active"
                    (click)="setNavActive($event, childrenSubItem.path ?? '')"
                  >
                    {{ i18n.translate(childrenSubItem.title || '') }}
                  </a>

                </li>
                }
              </ul>
              }

            </li>
            }
          </ul>
          }

        </li>
        }
      </ul>

      <div class="slide-right" id="slide-right" (click)="rightArrowFn()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
        </svg>
      </div>
    </nav>
    <!-- End::nav -->
  </overlay-scrollbars>
  <!-- End::main-sidebar -->
</aside>
<!-- End::app-sidebar -->
