<app-page-header [title]="'System Admin'" [title1]="['Organization']" [activeitem]="'Organization'"></app-page-header>


<!-- Start::row-3 -->
<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12">
    <div class="box">
        <div class="box-header">
        <h5 class="box-title">Lista de Organizaciones</h5>
        </div>
        <div class="box-body">
        <div class="overflow-hidden table-bordered">
            <div id="download-table" class="ti-custom-table ti-striped-table ti-custom-table-hover">
                <!-- <spk-angular-material-tables [dataSource]="dataSource4" [wideTable]="true" [showPaginator]="true"></spk-angular-material-tables> -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- End::row-3 -->
